main {
    display: flex;
    padding: 1rem;
    margin: auto;
}

.card {
    border: 1px solid black
}

.search-section {
    width: 70vw;
    height: 100vh;
}

.wishlist-section {
    width: 30vw;
    height: 100vh;
}