.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
    height: 50vh;
    width: 50vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.game-card {

    height: 10vh;
    width: 10vw;
    border-radius: 10px;
    font-size:xx-large;
    text-align: center;
}

.face-up {
    background-color: white;
}

.face-down {
    background-color: lightgray;
    border: 2px solid black;
}

.menu {
    display: flex;
    justify-content: center;
}